@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body, form, input {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:40pt;
    line-height: 1.5;
    letter-spacing: 1.1;
    color: white;
}
body{
  background: linear-gradient(to bottom, #4f89d4, #385e90);
  height: 100vh;
}
.wrapper{
  width: 50%;
  margin: 0 auto;
}
h1{
  font-size: 1em;
}
p{
  font-weight: 300;
  font-size: 0.5em;
}
form{
    font-size: 30pt;
    outline: :none;
}
input{
    -webkit-appearance: none;
    color: #000;
    height: 60px;
    width: 100%;
    border: none;
    background-color: #fff;
    outline: none;
}
#s{
  background: linear-gradient(to bottom, #4f89d4, #385e90);
  color: white;
}
@media(max-width: 768px), handheld{
  .wrapper{
    width: 75%;
  }
}
